<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{#Prefs.Favicon}}
  <link rel="shortcut icon" href="{{ Prefs.Favicon }}">
  {{/Prefs.Favicon}}
  <link type="application/rss+xml" title="{{ Board.Name }}" rel="alternate" href="/feed.xml">
  <link href="//webhooks.websitesfortrello.com/webmention" rel="webmention">
  <link type="application/opensearchdescription+xml" rel="search" href="/opensearch.xml">
  <title>{{#Card.Test}}{{#IsPage}}{{ Card.PageTitle }}{{/IsPage}}{{^IsPage}}{{ Name }}{{/IsPage}} | {{/Card.Test}}{{^Card.Test}}{{#Aggregator.Test}}{{ Name }} | {{/Aggregator.Test}}{{/Card.Test}}{{ Board.Name }}</title>
  {{#Board.Desc}}<meta name="description" content="{{ Board.Desc }}">{{/Board.Desc}}
  {{#Prefs.CSS}}<link rel="stylesheet" href="{{ . }}">{{/Prefs.CSS}}
</head>

<body>
  <header role="banner">
    {{#Prefs.HasHeaderImage}}<img src="{{ Prefs.Header.Image }}">{{/Prefs.HasHeaderImage}}
    <h1>
      <a href="/" title="{{ Board.Name }}">{{ Board.Name }}</a>
    </h1>
    <aside>{{{ Board.DescRender }}}</aside>
  </header>
  <nav>
    <ul>
      {{#NavItems}}
        <li><a href="{{ Url }}">{{ Text }}</a></li>
      {{/NavItems}}
    </ul>
  </nav>
  <main>
{{{ Content }}}
  </main>
  <aside>
    <div {{#ShowMF2}}class="h-card"{{/ShowMF2}}>
      {{{ Prefs.AsideRender }}}
    </div>
  </aside>
  <footer role="contentinfo">
    <p>This website is proudly hosted by <strong><a href="http://{{ Settings.Domain }}/">Websites for Trello</a></strong>.</p>
  </footer>
</body>

{{#Prefs.JS}}<script src="{{ . }}"></script>
{{/Prefs.JS}}
</html>
