{{ define "card" }}

{{ template "head" . }}

{{ with .Aggregator }}
<header>
  <h1>
    <a href="/{{ .Slug }}/">{{ .Name }}</a>
  </h1>
</header>
{{ end }}

<article {{ if .ShowMF2 }}class="h-entry"{{ end }}>
  <header>
    {{ if .Card.ValidCover }}<noscript><img src="{{ .Card.Cover }}" /></noscript><img class=x data-src="{{ .Card.Cover }}">{{ end }}
    {{ if not .Card.IsPage }}
    <h1>
      <a {{ if .ShowMF2 }}class="p-name"{{ end }} href="/{{ .Aggregator.Slug }}/{{ .Card.Slug }}/">{{ .Card.Name }}</a>
    </h1>
    <aside>
      {{ .Card.AuthorHTML }}
      <a rel="bookmark" {{ if .ShowMF2 }}class="u-url dt-published"{{ end }}href="/c/{{ .Card.Id }}"><time datetime="{{ .Card.IsoDate }}">{{ .Card.PrettyDate }}</time></a>
    {{ else }}
    <aside>
    {{ end }}
      <ul>
        {{ range .Card.GetLabels }}
        <li><a rel="tag" href="/tag/{{ .SlugOrId }}/" class="{{ .Color }}">{{ .NameOrSpaces }}</a></li>
        {{ end }}
      </ul>
    </aside>
  </header>
  <div {{ if .ShowMF2 }}class="e-content"{{ end }}>

{{ markdown .Card.Desc}}

{{ if .ShowMF2 }}
<a href="https://www.brid.gy/publish/facebook"></a>
<a href="https://www.brid.gy/publish/twitter"></a>
{{ end }}
  </div>
</article>

{{ range .Card.GetChecklists }}
<section class="checklists">
  <header>
    <h1>{{ .Name }}</h1>
  </header>
  <ul>
    {{ range .CheckItems }}
    <li>
      <input type="checkbox" disabled {{ if .Complete }}checked{{ end }}>
      {{ markdown .Name }}}
    </li>
    {{ end }}
  <ul>
</section>
{{ end }}

{{ if .Card.HasAttachments }}
<section class="attachments">
  <ul>
    {{ range .Card.GetAttachments }}
    <li><a target="_blank" href="{{ cdnurl .Url }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
</section>
{{ end }}

<section class="comments">
  {{ range .Card.Comments }}
  <article id="{{ .Id }}">
    <header>
      <a href="{{ .AuthorURL }}"><noscript><img src="//webvatar.com/{{ .AuthorURL }}" /></noscript><img class=x data-src="//webvatar.com/{{ .AuthorURL }}"></a>
      <h1><a href="{{ .AuthorURL }}">{{ .AuthorName }}</a></h1>
      <aside>
        <a href="#{{ .Id }}"><time datetime="{{ .IsoDate }}">{{ .PrettyDate }}</time></a>
      </aside>
    </header>
    <div>{{ markdown .Body }}</div>
    <footer>
      <a href="{{ .SourceURL }}" target="_blank">{{ .SourceDisplay }}</a>
    </footer>
  </article>
  {{ end }}
</section>

{{ template "foot" . }}

{{ end }}
