{{#Aggregator.Test}}
<header>
  <h1>
    <a href="/{{ Slug }}/">{{ Name }}</a>
  </h1>
</header>
{{/Aggregator.Test}}

{{#Card}}
<article {{#ShowMF2}}class="h-entry"{{/ShowMF2}}>
  <header>
    {{#HasCover}}<noscript><img src="{{ Cover }}" /></noscript><img class=x data-src="{{ Cover }}">{{/HasCover}}
    {{^IsPage}}
    <h1>
      <a {{#ShowMF2}}class="p-name"{{/ShowMF2}} href="/{{ Aggregator.Slug }}/{{ Slug }}/">{{ Name }}</a>
    </h1>
    <aside>
      {{{AuthorHTML}}}
      <a rel="bookmark" {{#ShowMF2}}class="u-url dt-published"{{/ShowMF2}}href="/c/{{ Id }}"><time datetime="{{ IsoDate }}">{{ PrettyDate }}</time></a>
    {{/IsPage}}
    {{#IsPage}}
    <aside>
    {{/IsPage}}
      <ul>
        {{#GetLabels}}
        <li><a rel="tag" href="/tag/{{ SlugOrId }}/" class="{{ Color }}">{{{ NameOrSpaces }}}</a></li>
        {{/GetLabels}}
      </ul>
    </aside>
  </header>
  <div {{#ShowMF2}}class="e-content"{{/ShowMF2}}>
{{{ DescRender }}}

{{#ShowMF2}}
<a href="https://www.brid.gy/publish/facebook"></a>
<a href="https://www.brid.gy/publish/twitter"></a>
{{/ShowMF2}}
  </div>
</article>

{{#GetChecklists}}
<section class="checklists">
  <header>
    <h1>{{ Name }}</h1>
  </header>
  <ul>
    {{#CheckItems}}
    <li>
      <input type="checkbox" disabled {{#Complete}}checked{{/Complete}}>
      {{{ NameRender }}}
    </li>
    {{/CheckItems}}
  <ul>
</section>
{{/GetChecklists}}

{{#HasAttachments}}
<section class="attachments">
  <ul>
    {{#GetAttachments}}
    <li><a target="_blank" href="{{ Url }}">{{ Name }}</a></li>
    {{/GetAttachments}}
  </ul>
</section>
{{/HasAttachments}}

<section class="comments">
  {{#Comments}}
  <article id="{{ Id }}">
    <header>
      <a href="{{ AuthorURL }}"><noscript><img src="//webvatar.com/{{ AuthorURL }}" /></noscript><img class=x data-src="//webvatar.com/{{ AuthorURL }}"></a>
      <h1><a href="{{ AuthorURL }}">{{ AuthorName }}</a></h1>
      <aside>
        <a href="#{{ Id }}"><time datetime="{{ IsoDate }}">{{ PrettyDate }}</time></a>
      </aside>
    </header>
    <div>{{{ BodyRender }}}</div>
    <footer>
      <a href="{{ SourceURL }}" target="_blank">{{ SourceDisplay }}</a>
    </footer>
  </article>
  {{/Comments}}
</section>

{{/Card}}
