<!doctype html>

<html class="h-feed">
  <title class="p-name">{{ .Board.Name }}</title>

  <img class="u-photo" src>
  <a class="u-url" href="">{{ .Board.Name }}</a>

  {{ range .Cards }}
  <div class="h-entry">
    {{ if .ValidCover }}<img class="u-photo" src="{{ . }}">{{ end }}
    <h1 class="p-name">
      <a class="u-url u-uid" href="/c/{{ .Id }}">{{ .Name }}</a>
    </h1>
    <time class="dt-published" datetime="{{ .IsoDate }}"></time>
    {{ range .GetLabels }}
      <p class="p-category">{{ .NameOrSpaces }}</p>
    {{ end }}

    {{ range .SyndicationTargets }}
      <a class="u-syndication" rel="syndication" href="{{ . }}"></a>
    {{ end }}

    {{ range .GetAuthors }}
      <a class="p-author" href="https://trello.com/{{ .Username }}">{{ .Username }}</a>
    {{ end }}
    
    <div class="p-summary">{{ .Desc }}</div>
    <div class="e-content">{{ markdown .Body }}</div>
  </div>
  {{ end }}

  <p class="p-author">{{ .Board.Name }}</p>
</body>
