{{#List.Test}}
  <header>
    <h1>
      <a href="/{{ Slug }}/">{{ Name }}</a>
    </h1>
  </header>
{{/List.Test}}

<section>
  <ul class="h-feed">
    {{#Cards}}
      <li>
        <article class="h-entry">
          <header>
            {{#HasCover}}<a href="/{{^List.Test}}from_list/{{ List_id }}{{/List.Test}}{{#List.Test}}{{ List.Slug }}{{/List.Test}}/{{ Slug }}/"><img src="{{ Cover }}"></a>{{/HasCover}}
            <h1><a class="u-url p-name" href="/{{^List.Test}}from_list/{{ List_id }}{{/List.Test}}{{#List.Test}}{{ List.Slug }}{{/List.Test}}/{{ Slug }}/">{{ Name }}</a></h1>
            <time datetime="{{ IsoDate }}">{{ PrettyDate }}</time>
          </header>
        </article>
      </li>
    {{/Cards}}
  </ul>
</section>
<footer>
  <nav>
    <ul>
      <li><a {{#HasPrev}}href="{{#List.Test}}/{{ List.Slug }}{{/List.Test}}/p/{{ PrevPage }}/"{{/HasPrev}}>❰</a></li>
      <li><a {{#HasNext}}href="{{#List.Test}}/{{ List.Slug }}{{/List.Test}}/p/{{ NextPage }}/"{{/HasNext}}>❱</a></li>
    </ul>
  </nav>
</footer>
