{{ define "list" }}

{{ template "head" . }}

{{ with .Aggregator }}
<header>
  <h1>
    <a href="/{{ .Slug }}/">{{ .Name }}</a>
  </h1>
</header>
{{ end }}

<section>
  <ul>
    {{ range .Cards }}
    <li>
      <article>
        <header>
          {{ if .ValidCover }}<a rel="bookmark" href="/c/{{ .Id }}/"><noscript><img src="{{ cdnurl .Cover }}" /></noscript><img class=x data-src="{{ cdnurl .Cover }}"></a>{{ end }}
          <h1><a rel="bookmark" href="/c/{{ .Id }}/">{{ .Name }}</a></h1>
          <aside>
            {{ .AuthorHTML }}
            <time datetime="{{ .IsoDate }}">{{ .PrettyDate }}</time>
            <ul>
            {{ range .GetLabels }}
              <li><a rel="tag" href="/tag/{{ .SlugOrId }}/" class="{{ .Color }}">{{ .NameOrSpaces }}</a></li>
            {{ end }}
            </ul>
          </aside>
        </header>
        {{ if and $.Prefs.ShowExcerpts .Excerpt }}
        <div>
          {{ if .ReadMore }}
            {{ .Excerpt }} <a href="/c/{{ .Id }}">(read more...)</a>
          {{ else }}
            {{ markdown .Excerpt }}
          {{ end }}
        </div>
        {{ end }}
      </article>
    </li>
    {{ end }}
  </ul>
</section>
<footer>
  <nav>
    <ul>
      <li><a {{ if .HasPrev }} rel="prev" href="{{ if .Aggregator }}{{ .Aggregator.Prefix }}/{{ .Aggregator.Slug }}/p/{{ .PrevPage }}{{ else }}/p/{{ .PrevPage }}/{{ end }}"{{ end }}>&#8656;</a></li>
      <li><a {{ if .HasNext }} rel="next" href="{{ if .Aggregator }}{{ .Aggregator.Prefix }}/{{ .Aggregator.Slug }}/p/{{ .NextPage }}{{ else }}/p/{{ .NextPage }}/{{ end }}"{{ end }}>&#8658;</a></li>
    </ul>
  </nav>
</footer>

{{ template "foot" . }}

{{ end }}
