{{#List.Test}}
  <header>
    <h1>
      <a href="/{{ Slug }}/">{{ Name }}</a>
    </h1>
  </header>
{{/List.Test}}

<section>
  <ul class="h-feed">
    {{#Cards}}
      <li>
        <article class="h-entry">
          <header>
            {{#HasCover}}<a href="/{{^List.Id}}from_list/{{ List_id }}{{/List.Id}}{{#List.id}}List.Slug{{/List.id}}/{{ Slug }}"><img src="{{ Cover }}"></a>{{/HasCover}}
            <h1><a class="u-url p-name" href="/{{^List.Id}}from_list/{{ List_id }}{{/List.Id}}{{#List.id}}List.Slug{{/List.id}}/{{ Slug }}">{{ Name }}</a></h1>
          </header>

          <time datetime="{{ IsoDate }}">{{ PrettyDate }}</time>
        </article>
      </li>
    {{/Cards}}
  </ul>
  <footer>
    <nav>
      <ul>
        <li><a {{#HasPrev}}href="{{#List.Test}}/{{ List.slug }}{{/List.Test}}/{{ PrevPage }}/"{{/HasPrev}}>❰</a></li>
        <li><a {{#HasNext}}href="{{#List.Test}}/{{ slug }}{{/List.Test}}/{{ NextPage }}/"{{/HasNext}}>❱</a></li>
      </ul>
    </nav>
  </footer>
</section>
